@use "../global" as global;

.p-mv-content {
    max-width: 414px;
    background: rgb(255, 255, 255, 0.91);
    padding: 136px 70px 127px 70px;
    position: absolute;
    top: 0;
    left: 10%;

    @include global.mq(tb) {
        padding: 130px 46px 107px 46px; 
        left: 5%; 
    }

    @include global.mq(sp) {
        max-width: 240px;
        padding: 32px 38px 44px 38px;
        top: auto;
        bottom: 0;
        left: 0;

        &:before {
            content: "";
            width: 165px;
            height: 1px;
            background: rgb(117, 118, 118, 0.56);
            position: absolute;
            bottom: 44px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.p-mv-content__head {
    font-weight: global.$fw-medium;
    letter-spacing: 0.01em;
    line-height: 26px;
    text-align: center;
    font-family: global.$ff-en;
    padding-bottom: 40px;
    position: relative;

    @include global.mq(sp) {
        line-height: 18px;
        padding-bottom: 17px;
    }

    &::after {
        content: "";
        width: 218px;
        height: 1px;
        background: rgb(117, 118, 118, 0.56);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @include global.mq(sp) {
            width: 165px;
        }
    }
}

.p-mv-content__title {
    font-size: 36px;
    font-family: global.$ff-noto;
    line-height: 60px;
    padding-top: 16px;
    font-weight: global.$fw-regular;
    letter-spacing: -0.05em;
    text-align: center;

    @include global.mq(tb) {
        font-size: 28px;
        line-height: 48px;
        letter-spacing: 0.008em;
        padding-top: 34px;
    }

    @include global.mq(sp) {
        font-size: 18px;
        line-height: 27px;
        padding: 15px 0 17px 0;
    }

    &::before {
        content: "誰";
        color: global.$main-color2;
        font-size: 64px;
        line-height: 96px;

        @include global.mq(tb) {
            font-size: 52px;
            line-height: 70px;
            letter-spacing: 0.008em;
        }

        @include global.mq(sp) {
            font-size: 37px;
            line-height: 56px;
            letter-spacing: 0.008em;
        }
    }

    &::after {
        content: "結婚式";
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.1em;

        @include global.mq(sp) {
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 0.008em;
        }

        @include global.mq(sp) {
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.01em;
        }
    }
}

.p-mv-content__title--top {
    font-size: 48px;
    font-family: global.$ff-noto;
    line-height: 72px;
    font-weight: global.$fw-regular;
    letter-spacing: 0.08em;

    @include global.mq(tb) {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.008em;
    }

    @include global.mq(sp) {
        font-size: 21px;
        line-height: 32px;
    }
}

.p-mv-content__title--bottom {
    font-size: 38px;
    font-family: global.$ff-noto;
    line-height: 57px;
    font-weight: global.$fw-regular;
    letter-spacing: 0.1em;

    @include global.mq(tb) {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.008em;
    }

    @include global.mq(sp) {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.01em;
    }
}

.p-mv-content__logo {
    text-align: center;
    padding-top: 40px;
    position: relative;

    @include global.mq(sp) {
        display: none;
    }

    @include global.mq(tb) {
        width: 200px;
        padding-top: 86px;
        margin: 0 auto;
    }

    &::before {
        content: "";
        width: 218px;
        height: 1px;
        background: rgb(117, 118, 118, 0.56);
        position: absolute;
        top: 58px;
        left: 50%;
        transform: translateX(-50%);
    }

    img {
        width: 100%;
    }
}