@use "../global" as global;

.p-popular-reports-card {
    padding: 40px 50px 30px 50px;
    background: global.$color4;
    position: relative;

    @include global.mq(sp) {
        padding: 21px 17px 23px+42px 17px;
        min-width: 294px; 
    }

    &:first-child {
        grid-column: 1/3;
    }

    &::before {
        content: "";
        width: calc(100% - 36px);
        height: calc(100% - 28px);
        border: 1px solid global.$main-color2;
        position: absolute;
        top: 14px;
        left: 18px;

        @include global.mq(sp) {
            width: calc(100% - 16px);
            height: calc(100% - 22px);
            top: 11px;
            left: 8px;
        }
    }
}

.p-popular-reports-card__mark {
    position: absolute;
    top: 26px;
    right: 36px;
    z-index: 2;
    cursor: pointer;

    @include global.mq(sp) {
        top: 29px;
        right: 25px;
    }

    &:active {
        .c-heart-mark {
            font-size: 0;

            &::before {
                font-size: 20px;
            }
        }
    }
}

.p-popular-reports-card__ribbon {
    position: absolute;
    top: 0;
    left: 24px;

    @include global.mq(sp) {
        left: 16px;
    }
}

.p-popular-reports-card__top {
    display: flex;

    @include global.mq(sp) {
        display: block;
    }
}

.p-popular-reports-card__top__img {
    margin-right: 32px;

    @include global.mq(tb) {
        margin-right: 30px;
        width: 50%;
        height: 300px;
        object-fit: cover;
    }

    @include global.mq(sp) {
        margin-right: 0;
        width: 260px;
        height: 184px;
        object-fit: cover;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include global.mq(tb) {
            max-width: 370px;
        }
    }
}

.p-popular-reports-card__top__content {

    @include global.mq(tb) {
        width: 50%;
    }


    @include global.mq(sp) {
        width: 246px;
        margin: -44px auto 0 auto;
        background-color: rgb(255, 255, 255, 0.88);
        position: relative;
        z-index: 2;
        padding: 14px;
    }
}
.p-popular-reports-card__title {
    font-size: 22px;
    color: global.$color5;
    line-height: 33px;
    font-family: global.$ff-noto;
    font-weight: global.$fw-regular;
    margin: 26px 0 34px 0;

    @include global.mq(sp) {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding-bottom: 6px;
        border-bottom: 1px solid global.$main-color1;
    }
}

.p-popular-reports-card__area-box {
    display: flex;
    align-items: center;
    margin-top: 10px;

    @include global.mq(sp) {
        margin-top: 6px;
    }
}

.p-popular-reports-card__area {
    font-size: 14px;
    color: global.$color5;
    line-height: 21px;
    font-family: global.$ff-yu;
    font-weight: global.$fw-medium;
    margin-left: 8px;
}

.p-popular-reports-card__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;

    @include global.mq(sp) {
        margin-top: 6px;
        row-gap: 4px;
    }
}

.p-popular-reports-card__tag  {
    margin-right: 4px;
}

.p-popular-reports-card__under {
    margin: 0 auto;
    margin-top: 16px;
    padding: 8px 15px 0 15px;
    position: relative;

    @include global.mq(sp) {
        margin-top: 0;
    }

    &::before {
        content: "";
        width: 96%;
        border-top: 1px solid global.$main-color1;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);

        @include global.mq(sp) {
            display: none;
        }
    }
}

.p-popular-reports-card__under__head {
    font-size: 20px;
    color: global.$main-color2;
    line-height: 30px;
    font-family: global.$ff-yu;
    font-weight: global.$fw-medium;

    @include global.mq(sp) {
        display: none;
    }
}

.popular-reports-card__under__text {
    font-size: 16px;
    color: global.$color5;
    line-height: 24px;
    font-family: global.$ff-yu;
    font-weight: global.$fw-medium;
    margin: 8px 0 12px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
    /*IE対策*/
    line-height: 1.5em;
    max-height: 4.5em;

    @include global.mq(sp) {
        display: none;
    }
}

.p-popular-reports-card__more {
    position: absolute;
    bottom: 28px;
    right: 76px;

    @include global.mq(sp) {
        right: 19px;
        bottom: 23px;
    }
}