@use "../global" as global;

.p-popular-plan-card {
    background: global.$color4;
    padding: 20px 23px 30px 23px;
    margin-top: 16px;
    position: relative;

    &::after {
        content: "";
        width: calc(100% - 26px);
        height: calc(100% - 23px);
        border: 1px solid global.$main-color2;
        position: absolute;
        top: 9px;
        left: 13px;
    }
}

.p-popular-plan-card__textarea {
    padding: 0 6px;
}

.p-popular-plan-card__mark {
    position: absolute;
    top: 27px;
    right: 36px;
}

.p-popular-plan-card__img {
    img {
        width: 100%;
        display: block;
    }
}

.p-popular-plan-card__head {
    font-size: 18px;
    color: global.$color5;
    font-family: global.$ff-noto;
    font-weight: global.$fw-regular;
    line-height: 27px;
    margin-top: 16px;
    padding: 0 6px;
}

.p-popular-plan-card__area-box {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.p-popular-plan-card__tags  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13px;
    row-gap: 4px;
}

.p-popular-plan-card__more {
    display: flex;
    justify-content: right;
    margin-top: 27px;
    /*
    position: absolute;
    right: 23px;
    bottom: 30px;
    */
}