@use "../global" as global;

.p-voice-satisfaction-card {
    background: global.$color4;
    padding: 21px 24px 16px 16px;
    position: relative;



    @include global.mq(sp) {
        padding: 16px 8px;
        min-width: 304px;
    }
}

.p-voice-satisfaction-card__ribbon  {
    position: absolute;
    top: 0;
    left: 12px;
}

.p-voice-satisfaction-card__top {
    display: flex;
}

.p-voice-satisfaction-card__top__img {
    @include global.mq(tb) {
        width: 136px;
        height: 157px;
    }


    @include global.mq(sp) {
        width: 104px;
        height: 119px;
    }

    img {
        width: 100%;
        display: block;

        @include global.mq(sp) {
            width: 100%;
        }
    }
}

.p-voice-satisfaction-card__top__content {
    margin-left: 16px;
}

.p-voice-satisfaction-card__company {
    font-size: 14px;
    color: global.$color5;
    line-height: 21px;
    font-family: global.$ff-yu;
    font-weight: global.$fw-medium;

    @include global.mq(sp) {
        font-size: 12px;
        line-height: 18px;
    }
}

.p-voice-satisfaction-card__name {
    font-size: 20px;
    color: global.$color5;
    line-height: 30px;
    font-family: global.$ff-noto;
    font-weight: global.$fw-regular;

    @include global.mq(sp) {
        font-size: 18px;
        line-height: 27px;
        margin-top: 3px;
    }
}

.p-voice-satisfaction-card__under {
    margin-top: 16px;
}

.p-voice-satisfaction-card__under__title {
    font-size: 12px;
    color: global.$color5;
    line-height: 18px;
    font-family: global.$ff-yu;
    font-weight: global.$fw-medium;
}

.p-voice-satisfaction-card__under__head {
    font-size: 14px;
    color: global.$color5;
    line-height: 21px;
    font-family: global.$ff-noto;
    font-weight: global.$fw-bold;
    margin-top: 4px;

    @include global.mq(sp) {
        font-weight: global.$fw-regular;
    }
}

.p-voice-satisfaction-card__under__text {
    font-size: 12px;
    color: global.$color5;
    line-height: 18px;
    font-family: global.$ff-yu;
    font-weight: global.$fw-medium;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
    /*IE対策*/
    line-height: 1.5em;
    max-height: 4.5em;  
}

.p-voice-satisfaction-card__button {
    display: flex;
    justify-content: right;
    margin-top: 13px;

    @include global.mq(sp) {
        margin-top: 16px;
    }
}